<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello World Blog</title>
  <link rel="stylesheet" media="screen" href="/assets/css/master.css"/>
  <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
<div id="container">
  <header class="group">
    <div class="header-inner">
      <h1 class="logo">
        <span id="name">My Name is Zhou Yi</span> 
        <span class="top-link"><a href="/about.html">About Me</a></span>
        <span class="top-link"><a href="/blog.html">Blog</a></span>
        <span class="top-link"><a href="/">Projects</a></span> 
      </h1>
    </div>
  </header>
