.details {
  position:relative;
  float:right;
  width:24%;
  margin-left:3%;
  padding-top:3%;
  line-height:1.5;
}

.project {
  position: static;
  padding-bottom:3%;
}

.image {
  position:relative;
  float:left;
  width:72%;
  padding-top:1.5%;
}
